@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";
@import "about.css";
@import "marketingTool.css";
@import "scrolldown.css";
@import "contact_me.css";
@import "footer.css";

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  /*  border-box로 지정하면  테두리를 포함한 크기를 지정할 수 있기 때문에 예측하기가 더 쉽습니다 */
}
html {
  scroll-behavior: smooth;
}
::selection {
  background-color: #48dbfb;
}
::-webkit-scrollbar {
  width: 10;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #353b48;
}
.navbar {
  position: fixed;
  background-color: transparent;
  /* transparent : 배경색이 없습니다. */
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}
.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}
.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .logo {
  width: 44px;
  height: 32px;
  background-image: url(../background/sangLogo_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size속성은 요소 배경 이미지의 크기를 설정합니다. 그대로 두거나, 늘리고 줄이거나, 공간에 맞출 수 있습니다. */
.logo {
  font-size: large;
  font-weight: 900;
  color: #fff;
}
.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}
.navbar__menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  margin-left: 30px;
  transition: 0.2s linear;
}
.navbar__menu a:hover {
  color: #48dbfb !important;
  /* 만약 나중에 설정한 값이 적용되지 않게 하려면 속성값 뒤에 !important를 붙입니다. */
}
.sticky {
  background-color: #fff;
  padding: 18px 0;
}
/* .sticky .logo {
  background-image: url(../background/sangLogo_2.png);
} */
.sticky .navbar__menu a {
  color: #111;
}
.sticky .menu-toggler span {
  background-color: #111;
}
#home {
  height: 100vh;
  min-height: 500px;
  background: url(../background/6.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content {
  width: 100%;
}
#home .content h1 {
  font-size: 60px;
  margin-bottom: 60px;
  color: #fff;
}
#home .content h1::after {
  content: "Sang";
  animation: textanim 10s linear infinite;
}
@keyframes textanim {
  20% {
    content: "Marketer";
  }
  40% {
    content: "Developer Beginner";
  }
  60% {
    content: "Wiriter";
  }
  80% {
    content: "Traveler";
  }
}
.sm a {
  color: #fff;
  font: size 22px;
  margin: 0 10px;
  transition: 0.2s linear;
}
.sm a::hover {
  color: #48dbfb;
}
#home .buttons {
  margin-top: 60px;
}
#home .buttons a {
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 900;
  width: 180px;
  border: 1px solid;
  padding: 14px 0;
  border-radius: 6px;
  transform: 0.2s linear;
}
#home .buttons a:hover,
#home .button a:nth-child(2) {
  background-color: #48dbfb;
  color: #fff;
}

@media screen and (max-width: 980px) {
  .menu-toggler {
    display: block;
  }
  .navbar__menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    /* right: 0; */
    right: -100%;
    max-width: 300px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }
  .navbar__menu a {
    display: block;
    font-size: 20px;
    margin: 30px 0;
  }
  .sticky.navbar-menu {
    background-color: #f1f1f1;
  }
  .navbar__menu.active {
    right: 0;
  }
  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }
  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
}
